.App {
  text-align: center;
}

.App-logo {
  float: left;
  height: 150px;
}

.App-header {
  padding: 20px;
  background-color: rgba(135,206,350,0.4);
  border-bottom: 1px solid black;
}

.App-title {
  text-align: center;
  font-family: 'Lato';
  font-size: 70px;
  margin: 5%;
  font-weight: bold;
  color: black;
}

.App-newGame {
  font-family: 'Lato';
}

.App-currentGames {
  font-family: 'Lato';
}

.Activity{
  float:left;
  display: inline-block;
}
.Name{
  float:Center;
  display: inline-block;
}
.Location{
  float:right;
  display: inline-block;
  padding-right: 30px
}
body {
    background-image: url('/Sports.png');
}

.App-submitButton {
  padding-top: 12px;
  padding-bottom: 12px;
}

input[type=text] {
    width: 30%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
}

input[type=submit]:hover {
    background-color: #45a049;
}

li {
  list-style: none;
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}
