.profileEdit{
	width:100%;
	margin: auto;
}
.pictureEdit{
	margin:20px;
	width:200px;
	height:200px;
	background-color:gray;
	float: left;
}

.editImg{
  text-align: center;
}

.usernameInEdit{
  margin: 10px;
  text-align: center;
  color: blue;
  font-size:x-large;

}

.emailInEdit{
  margin: 10px;
  text-align: center;
  color: blue;
  font-size:x-large;

}

.editUsername{
  width:70%;
  margin: 20px;
}

.bioEdit{
  width:70%;
  margin: 20px;
}

.friendslistEdit{
  float:left;
  margin-left: 20px;
  margin-top: 20px;
}

.userNameBox{
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.bioBox{
  width: 60%;
  height: 30%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
